extends  ../../layout

block content

    .container.main-pane(style={display: "flex", "flex-direction": "column", "margin-top": "2rem"})
        .row(style={width: "auto", padding: "0"})
            .col-12.text-center
                .card